doctype html
html
  head
    title= title
    meta(name='viewport' content='width=device-width, user-scalable=no')
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/vendor/bootswatch-dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/schedule.css')

    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
  body
    h1 Hi there
