body {
  background-color: #222;
}
.container {
  padding-left: 30px;
  padding-right: 30px;
  max-width: 900px;
  background-color: #fff;
  padding-bottom: 50px;
}
.text-description {
  margin-bottom: 15px;
}
.date-controller {
  text-align: center;
  margin-top: 20px;
}
.date-controller .col {
  background-color: #222;
}
.date-controller .btn-link {
  background-color: rgba(0,0,0,0.02);
}
.date-controller .btn-link:hover {
  text-decoration: none;
}
table.time-table {
  display: none;
  margin-bottom: 50px;
}
table.time-table thead {
  background-color: rgba(0,0,0,0.02);
}
table.time-table thead .pic {
  margin: auto;
  width: 130px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 130px;
  height: 130px;
}
table.time-table thead h4 {
  text-align: center;
  margin-bottom: 0;
}
table.time-table tbody tr {
  -webkit-user-select: none;
  -moz-user-select: none;
}
table.time-table tbody tr.selected td {
  background-color: #9954bb;
}
table.time-table tbody tr.selected td:first-child {
  background-color: #fff;
}
table.time-table tbody td {
  transition: 0.1s linear background-color;
  cursor: pointer;
  border-color: rgba(0,0,0,0.02);
  height: 18px;
  padding: 0;
  background-color: #fff;
}
table.time-table tbody td.busy {
  background-color: #ff0039;
}
table.time-table tbody td.past {
  background-color: rgba(0,0,0,0.07);
}
table.time-table tbody p {
  width: 37px;
  text-align: center;
  margin: 0;
  font-size: 0.5em;
  color: rgba(0,0,0,0.5);
}
table.time-table tbody p span.hour {
  display: none;
}
table.time-table tbody p span.minute {
  display: inline-block;
  padding-top: 3px;
}
table.time-table tbody tr:nth-child(2n+1) p {
  color: #000;
  font-size: 0.8em;
}
table.time-table tbody tr:nth-child(2n+1) span.hour {
  display: inline;
}
table.time-table tbody tr:nth-child(2n+1) span.minute {
  padding-top: 0px;
}
.friend-selector .add-friends {
  margin-bottom: 0;
}
.friend-selector .errors {
  display: none;
}
.friend-selector ul.friends li:first-child {
  border-top: none;
}
.friend-selector ul.friends a.badge {
  background-color: #ff0039;
  padding-bottom: 5px;
}
#form-errors {
  display: none;
}
@media only screen and (min-width: 320px) {
  .date-controller a {
    font-size: 0.8em;
  }
  .date-controller .col-xs-12 {
    padding: 0;
  }
  table.time-table thead h4 {
    font-size: 0.75em;
  }
  table.time-table thead .pic {
    width: 50px;
    height: 50px;
  }
}
@media only screen and (min-width: 480px) {
  table.time-table thead h4 {
    font-size: 1em;
  }
  table.time-table thead .pic {
    width: 80px;
    height: 80px;
  }
}
@media only screen and (min-width: 768px) {
  table.time-table thead h4 {
    font-size: 1em;
  }
  table.time-table thead .pic {
    width: 100px;
    height: 100px;
  }
}
@media only screen and (min-width: 992px) {
  table.time-table thead h4 {
    font-size: 1.6em;
  }
  table.time-table thead .pic {
    width: 130px;
    height: 130px;
  }
}
@media only screen and (min-width: 1200px) {
  table.time-table thead h4 {
    font-size: 1.8em;
  }
  table.time-table thead .pic {
    width: 130px;
    height: 130px;
  }
}
