body
  background-color #222222

.container
  padding-left 30px
  padding-right 30px
  max-width 900px
  background-color white
  padding-bottom 50px


.text-description
  margin-bottom 15px


.date-controller
  text-align center
  margin-top 20px
  .col
    background-color #222222
  .btn-link
    background-color rgba(0,0,0,.02)
    &:hover
      text-decoration none


table.time-table
  // hide until we're ready to load
  display none

  margin-bottom 50px

  // user photos and descriptions
  thead
    background-color rgba(0,0,0,.02)
    .pic
      margin auto
      width 130px
      background-size contain
      background-repeat no-repeat
      background-position center
      border-radius 130px
      height 130px
    h4
      text-align center
      margin-bottom 0

  tbody
    tr
      -webkit-user-select none
      -moz-user-select none
      &.selected
        td
          background-color #9954bb
        td:first-child
          background-color white
    td
      transition .1s linear background-color
      cursor pointer
      border-color rgba(0,0,0,.02)
      height 18px
      padding 0
      background-color white
      &.busy
        background-color #ff0039
      &.past
        background-color rgba(0,0,0,.07)
    p
      width 37px
      text-align center
      margin 0
      font-size .5em
      color rgba(0,0,0,.5)
      span.hour
        display none
      span.minute
        display inline-block
        padding-top 3px

    // Emphasize hours and half hours
    tr:nth-child(2n+1)
      p
        color black
        font-size .8em
      span.hour
        display inline
      span.minute
        padding-top 0px


// Adding additional invitees
.friend-selector
  .add-friends
    margin-bottom 0
  .errors
    display none
  ul.friends
    li:first-child
      border-top none
    a.badge
      background-color #ff0039
      padding-bottom 5px


#form-errors
  display none
