.lab-schedule
  margin-bottom 50px


table.time-table
  display none
  tbody
    td
      padding 0
      font-size .5em
    td.busy
      background-color red

.date-controller
  text-align center
  margin-top 20px
  padding-bottom 10px

.user
  text-align center
  .pic
    margin auto
    width 130px
    background-size contain
    background-repeat no-repeat
    background-position center
    border-radius 130px
    height 130px
