.lab-schedule
  margin-bottom 50px


.date-controller
  text-align center
  margin-top 20px
  padding-bottom 10px

.user
  text-align center
  .pic
    margin auto
    width 90%
    background-size contain
    background-repeat no-repeat
    background-position center
    border-radius 150px
    height 127px

.times
  text-align center
  opacity .3
  h4
    font-size 170%
