body {
  background-color: #222;
}
.container {
  background-color: #fff;
  padding-bottom: 50px;
}
.page-header {
  margin-top: 10px;
}
h3.availability {
  margin-top: 0;
}
.date-controller {
  margin-bottom: 20px;
}
.date-controller .btn {
  width: 100%;
}
.date-controller .calendar-month-container {
  border-top: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
#calendar {
  margin-bottom: 30px;
}
#calendar .cal-year-box [class*="span"],
#calendar .cal-month-box [class*="cal-cell"],
#calendar .cal-month-day {
  min-height: 50px;
  height: 50px;
}
#calendar .cal-month-day {
  display: table;
}
#calendar .cal-month-box .cal-day-today span[data-cal-date] {
  font-size: 1em;
}
#calendar .cal-day-today {
  background-color: #000;
}
#calendar .cal-day-today span[data-cal-date] {
  opacity: 1;
  color: #fff;
}
#calendar .cal-day-selected {
  background-color: #7e3f9d;
}
#calendar .cal-day-selected span[data-cal-date] {
  opacity: 1;
  color: #fff;
}
#calendar span[data-cal-date] {
  margin: 0;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
#calendar #cal-week-box {
  display: none !important;
}
table.time-table {
  display: none;
  margin-bottom: 50px;
}
table.time-table thead {
  background-color: rgba(0,0,0,0.02);
}
table.time-table thead th {
  border-bottom: none;
}
table.time-table thead h4 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
table.time-table tbody tr {
  -webkit-user-select: none;
  -moz-user-select: none;
}
table.time-table tbody tr.selected td {
  background-color: #9954bb;
}
table.time-table tbody tr.selected td:first-child {
  background-color: #fff;
}
table.time-table tbody td {
  transition: 0.1s linear background-color;
  cursor: pointer;
}
table.time-table tbody td.busy {
  background-color: #ff0039;
}
table.time-table tbody td.past {
  background-color: rgba(0,0,0,0.07);
}
table.time-table tbody td {
  border-color: rgba(0,0,0,0.02);
  height: 40px;
  padding: 4px;
  background-color: #fff;
}
table.time-table tbody td p {
  width: 37px;
  text-align: center;
  margin: 0;
  font-size: 0.5em;
  color: #000;
  font-size: 1em;
  color: rgba(0,0,0,0.5);
}
table.time-table tbody td p span.hour {
  display: inline;
}
table.time-table tbody td p span.minute {
  padding-top: 0px;
}
table.time-table tbody tr:nth-child(even) td {
  border-top-style: dashed;
}
table.time-table tbody tr:nth-child(even) td:first-child {
  border: none;
}
table.time-table tbody tr:nth-child(even) td:first-child p {
  display: none;
}
.friend-selector .add-friends {
  margin-bottom: 0;
}
.friend-selector .errors {
  display: none;
}
.friend-selector ul.friends li:first-child {
  border-top: none;
}
.friend-selector ul.friends a.badge {
  background-color: #ff0039;
  padding-bottom: 5px;
}
#form-errors {
  display: none;
}
#confirm-modal .alert {
  display: none;
}
#confirm-modal ul {
  padding-left: 0;
}
#confirm-modal li {
  list-style-type: none;
  margin-bottom: 5px;
}
#confirm-modal ul.contents {
  margin-left: 150px;
  margin-top: -20px;
}
#confirm-modal ul.contents li {
  margin-bottom: 0px;
}
#confirm-modal .title {
  font-weight: bold;
  display: inline-block;
  min-width: 150px;
}
#confirm-modal .checkbox {
  margin-left: 145px;
  margin-top: 30px;
  margin-bottom: 0;
}
#confirm-modal .checkbox label {
  font-weight: bold;
}
